[submodule "toolchain/clang-r383902"]
	path = toolchain/clang-r383902
	url = https://github.com/Mizumo-prjkt/clang-r383902
[submodule "toolchain/clang-r416183b"]
	path = toolchain/clang-r416183b
	url = https://github.com/MizProject/clang-r416183b
[submodule "root/rKSU"]
	path = root/rKSU
	url = https://github.com/rsuntk/KernelSU
[submodule "root/nxtKSU"]
	path = root/nxtKSU
	url = https://github.com/KernelSU-Next/KernelSU-Next
[submodule "toolchain/CC-4.9"]
	path = toolchain/CC-4.9
	url = https://github.com/Mizumo-prjkt/aarch64-linux-android-4.9
[submodule "root/susfs"]
	path = root/susfs
	url = https://gitlab.com/simonpunk/susfs4ksu
	branch = kernel-4.19
